NODE_ENV=

DATABASE_URL=
DATABASE_URL_UNPOOLED=
EDGE_CONFIG=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
PGDATABASE=
PGHOST=
PGHOST_UNPOOLED=
PGPASSWORD=
PGUSER=
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=
TOGETHER_API_KEY=

# Qdrant
NEXT_PUBLIC_QDRANT_API_KEY=
NEXT_PUBLIC_QDRANT_URL=
COLLECTION=

#Pinecone
PINECONE_API_KEY=
PINECONE_INDEX=
PINECONE_HOST=

NEXT_PUBLIC_ML_API_URL=https://xmem.onrender.com

HF_TOKEN=

OLLAMA_URL=
OLLAMA_MODEL=
CHROMA_URL=
CHROMA_COLLECTION=