@import "tailwindcss";

@keyframes flowDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

.dot {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.2em;
  background: #64748b;
  border-radius: 50%;
  opacity: 0.7;
  animation: bounce 1.2s infinite both;
}
.dot-1 {
  animation-delay: 0s;
}
.dot-2 {
  animation-delay: 0.2s;
}
.dot-3 {
  animation-delay: 0.4s;
}
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
